.App {
  text-align: center;
  padding: 20%;

}
.form-submit-button {
  margin-top: 20px;
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 30px;
  width: 100%;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
  
  }


